<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cai.mall.mapper.OrderDetailMapper">

	<resultMap id="orderDetailResultMap" type="orderDetail">
		<id property="id" column="id"/>
		<result property="orderId" column="ORDER_ID"/>
		<result property="commodityId" column="COMMODITY_ID"/>
		<result property="quantity" column="QUANTITY"/>
		<result property="unitPrice" column="UNIT_PRICE"/>
		<result property="amount" column="AMOUNT"/>
		<result property="commodityName" column="COMMODITY_NAME"/>
		<result property="createTime" column="CREATE_TIME"/>
	</resultMap>
	
	<sql id="shop_order_filed">
		id, order_id, commodity_id, quantity, unit_price, amount, commodity_name, create_time
	</sql>
	
	<insert id="save" parameterType="orderDetail" useGeneratedKeys="true" keyProperty="id">
		insert into mall_order_detail(order_id, commodity_id, quantity, unit_price, amount, commodity_name, create_time)
		value (#{orderId}, #{commodityId},  #{quantity}, #{unitPrice}, #{amount}, #{commodityName}, now());
	</insert>
	
	<select id="listOrderDetail" resultMap="orderDetailResultMap">
		select <include refid="shop_order_filed"></include>
		from mall_order_detail
		where order_id=#{orderId}
	</select>
	
</mapper>

